<!DOCTYPE html>
{% extends "bookings/base.html" %}
{% block content %}
<html>
<body>


<h1>Movies</h1>

{% for movie in movies %}
  <div class="card mb-4" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ movie.title }}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Released: {{ movie.release_date }}</h6>
      <p class="card-text">{{ movie.description }} with a length in mins of {{ movie.duration }}</p>
      <a href="{% url 'showing_list' movie.id %}">Showings</a>
    </div>
  </div>
{% empty %}
    <p>No movies available.</p>
{% endfor %}

</body>
</html>
{% endblock %}