<!DOCTYPE html>
{% extends "bookings/base.html" %}
{% block content %}
<html>
<body>
    <h1>Seats</h1>

<ul>
  {% for seat in seats %}
    {{ seat.seat_number }}
    {% if seat.booking_status %}
        <p style="color:red;">Booked</p>
    {% else %}
        <a href="{% url 'book_seat' seat.id %}">Book</a>
    {% endif %}
  {% endfor %}
</ul>
{% if not user.is_authenticated %}
<p>
  <a href="/accounts/login/">Log in</a> |
  <a href="/signup/">Create account</a>
</p>
{% endif %}

</body>
</html>
{% endblock %}